# Build artifacts
**/bin/
**/obj/

# VS user files
.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.assets.json
*.nuget.g.props
*.nuget.g.targets
*.nuget.g.cache

# Logs
*.log

# Others
*.DS_Store
Thumbs.db